cfenv==0.5.3 --user
Flask==1.0.2 --user
tensorflow --user
watson-developer-cloud==1.3.5 --user
gevent --user
requests --user
keras --user
ibmcloudenv --user
livereload --user
pillow --user
numpy --user
pyspark --user
pandas --user
scikit-learn --user
